//Colors
$background: rgba(122, 167, 61, 1);
$removeHover: rgb(190, 240, 122);
$search: rgba(91, 228, 226, 0.35);
$searchHover: rgba(75, 155, 154, 0.825);
$favsBackground: rgba(182, 34, 18, 0.875);

//Fonts
$mainFont: "Kanit", sans-serif;