//Colors
$background: rgb(181, 156, 98);
$removeHover: rgb(153, 133, 85);
$search: rgba(232,183,170,255);
$searchHover: rgba(232,183,150,9);
$favsBackground: rgba(232,183,170,255);

//Fonts
$mainFont: "Kanit", sans-serif;