.allBoardGames {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(232,183,170,255);
    font-size: 24px;
    font-family: $mainFont;

    &--icon {
      width: 20px;
    }
  }

  &__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

    &--article {
      box-shadow: rgba(83, 200, 250, 0.875) 0px 0.0625em 0.0625em, rgba(83, 200, 250, 0.875)  0px 0.125em 0.5em, rgba(83, 200, 250, 0.875) 0px 0px 0px 1px inset;
      border: 2px solid rgba(83, 200, 250, 0.875) ;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
      margin-bottom: 5px;
      padding: 10px;
      width: 150px;
      height: 280px;
      cursor: pointer;
    }
  }
}


