.header {
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./assets/images/header.png");
  background-size: contain;
  height: 20rem;
  width: 100%;
  justify-content: space-between;

  &__title {
    transform: translateY(110px);
    font-family: "Kanit", sans-serif;
    font-size: 4rem;
    background-color: white;
    color: rgba(232,183,170,255)
  }

  &__search {
    width: 25rem;
    padding: 10px;
    background-color: white;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
  }

  &__input {
    padding: 5px;
    margin-right: 15px;
    width: 250px;
    border: 3px solid $search;
    font-family: $mainFont;

    &:focus {
      outline: none;
      border: 3px solid $background;
    }
  }

  &__btn {
    background-color: $search;
    color: grey;
    border-style: none;
    padding: 7px;
    border-radius: 15%;
    cursor: pointer;
    font-family: $mainFont;
    transition: transform 1s;

    &:hover {
    background-color: $searchHover;
    color: white;
    transform: scale(1.2);
    }
  }
}

@media all and (min-width: 768px) {
  .header {
    &__search {
      width: 48rem;
    }
  }
}

@media all and (min-width: 1200px) {
  .header {
    &__search {
      width: 70rem;
    }
  }
}
